.shoppingCart {
  width: 100%;
  background: rgb(148, 151, 172);
  flex: 1 0 auto;
  background-image: url(./../../assets/bg/ligin-bg.jpg);
  background-size: cover;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
