$BgColor: #ffffff;
$BorderColor: #000000;
$TextColor: #000000;
$disColor: #bebebe;
.disabledLink,
.activeLink,
.navLink {
  border-radius: 5px;
  padding: 10px;
  color: $TextColor;
  border: 1px solid $BorderColor;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.activeLink {
  font-weight: bold;
  border: 2px solid $BorderColor;
}
.disabledLink {
  color: $disColor;
  border: 1px solid $disColor;

}
