$headerBgColor: #ffffff;

.header {
  width: 100%;
  font-size: 1rem;
  font-family: 'Starjedi', 'Disket-Mono-Bold';
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: $headerBgColor;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all 0.3s ease;
}