$headerBgColor: #ffffff;

.header {
  width: 100%;
  flex: 0 0;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: $headerBgColor;
}
.navigation{}

.list{
  display: flex;
  align-items: center;
  height: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item{
  line-height: 1rem;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
  color: black;
  a{
    color: blue;
  }
}